# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FAISS index
*.index
documents.txt

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variable files
.env

node_modules/